//Colors
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
$eerie-black:#121619;
$raisin-black: #222323;
$nickel: #6c6e70;

//fonts
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

$weight-ligth: 300;
$weight-regular: 400;
$weight-black: 900;

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;